/* 
! Тексттовые свойства
?font+
? font-family+
? font-style+
? font-variant+
? font-size+
? line-height+
? font-weight+

! Шрифтовые свойства
? text-align+
? vertical-align+(особое внимание)
http://htmlbook.ru/css/vertical-align
? letter-spacing+
? word-spasing+
? text-indent+
? text-transform+
? text-decoration+
? text-shadow+
? color+
? @font-face (подключение шрифтов разными способами)+(ocoбое внимание: трансфонтеры, GoogleFonts)
? word-wrap+
? white-space+(особое внимание)

!Блочно-строчная модель документа
? width, max-width, min-width
https://habr.com/ru/post/483634/
http://htmlbook.ru/samlayout/blochnaya-verstka/blochnaya-model
? padding+
? margin(схлопывание)+
http://htmlbook.ru/samlayout/blochnaya-verstka/skhlopyvayushchiesya-otstupy
? overflow+(особое внимание)
? стилизация ссылок+
? img+(особое внимание)
? display: inline-block+(особое внимание)
https://css-live.ru/articles/zagadochnye-otstupy-mezhdu-inlajn-blokami.html
? display: block+
? Валидатор (особое внимание)+
? git и github (особое внимание)+

!Оформление
? outline+
? border (transparent)+
? border-radius+
? opasity+
? visibility+
? box-shadow (filter:drop-shadow)+
* background: color image position size repeat attachment
? background-color+
? background-image+
? background-position+
? background-size
? background-repeat+
? background-attachment
*https://www.youtube.com/playlist?list=PLM6XATa8CAG4F9nAIYNS5oAiPotxwLFIr


  !Псевдоклассы
  ? :first-child+
  ? :last-child+
  ? :nth-child()+
  ? :last-of-type+
  ? :first-of-type+

  !Псевдоэлементы
  ? ::first-line+
  ? ::first-letter+
  ? ::before+
  ? ::after+

  !Форматы изображений
  ?webp
  ? <picture>
  ?   <source srcset="img/pic.webp" type="image/webp">
  ?   <img src="img/pic.jpg" alt="pic" with="0" height="0">
  ? </picture>

  !< !-- Б.Э.М. -->

  !< !-- Блок -->
  < !-- НЕЗАВИСИМЫЙ объект. НЕ влияет на окружение (внешние объекты).

  ?Имя класса БЭМ блока: 

  1) Имя должно соответствовать содержанию либо конструкции Отвечать на вопрос "Что это?"
  2) Английский язык (Латиница) 
  3) Нижний регистр 
  4) Если слов несколько,
  разделяем дефисом (-). 
  5) НИКАКОЙ ИЕРАРХИИ ! ! ! 
  
  Мы можем вкладывать сколько угодно БЭМ блоков друг в друга,
  также БЭМ блоки можно вкладывать в БЭМ элементы -->
*/


/*! < !-- Элемент -->
< !-- ЗАВИСИМЫЙ объект от своего БЭМ блока
ВСЕГДА находится внутри своего БЭМ блока 
МОЖЕТ влиять на окружение (внешние объекты) 

/*?Имя класса БЭМ элемента: 

1) Всегда начинается с имени первого родительского БЭМ блока и отделяется двумя нижними подчеркиваниями (__) 
2) Имя должно соответствовать содержанию либо конструкции. Отвечать на вопрос "Что это?"
3) Английский язык (Латиница) 
4) Нижний регистр 
5) Если слов несколько,
разделяем дефисом (-). 
6) НИКАКОЙ ИЕРАРХИИ ! ! ! 

БЭМ элементы можно вкладивать в другие БЭМ элементы своего БЭМ блока --> */


/*! < !-- Модификатор -->
< !-- Позволяет вносить отличия для БЭМ блока либо БЭМ элемента 

/*?Имя класса БЭМ модификатора: 

1) Добавляется как еще один класс для БЭМ блока или БЭМ элемента. Начинается с полного имени БЭМ блока или БЭМ элемента и отделяется одним нижними подчеркиванием (_) 
2) Имя должно соответствовать вносимым модификациям. Отвечать на вопрос "какой? что изменяем?"
3) Английский язык (Латиница) 
4) Нижний регистр 
5) Если слов несколько,
разделяем дефисом (-). 
6) НИКАКОЙ ИЕРАРХИИ ! ! ! --> */

/*! < !-- Микс -->

< !-- Смесь БЭМ блока и БЭМ элемента для одного объекта. 
При этом БЭМ элемент может выступать в роли БЭМ модификатора --> */


@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap);

/* @font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */


* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;

  box-sizing: border-box;
}

.wrapper {
  /* padding: 50px; */
  min-height: 100%;
  overflow: hidden;
}

.header {
  font-size: 0;
}

.main {
  background: #f5f5f5;
}


/* ! --------------main-page-------------------- */

.main-page {
  padding: 26px 0 312px 0;
  background: url(../img/main-page/BG\ Image.jpg) 0 0/cover no-repeat;
}

.main__main-page {
  
}

._container {
  max-width: 1020px;
  margin: 0 auto;
}

.nav {
  max-width: 1020px;
  height: 128px;
}

.main-page__nav {
  margin: 0 0 126px 0;
}

.main-page__content {
  max-width: 583px;
  text-align: left;
}

.title {
  m0
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;

  color: #02133C;
}

.main-page__title {
  margin: 0 0 53px 0;
}

.title--size-color {
  font-size: 56px;
  line-height: 56px;

  color: #FFFFFF;
}

.btn {
  display: inline-block;
  padding: 12px 49px 12px 19px;

  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  text-decoration: none;

  background: url(../img/main-page/arrow_forward_24px.svg) 96% 50% no-repeat, url(../img/main-page/BG.png) 100% 0 no-repeat, url(../img/main-page/Button\ Component\ -\ Base\ Filled.jpg) 0 0 no-repeat;
  border-radius: 2px;
  color: #FFFFFF;
}


/* ! --------------who-we-are-------------------- */

.who-we-are {
  max-width: 1020px;
  padding: 100px 87px 0 87px;

  background: #ffffff url(../img/who-we-are/Gears.png) 100% 0 no-repeat;
}

.main__who-we-are {
  margin: -80px 0 230px 0;
}

.who-we-are__title {
  max-width: 583px;
  margin: 0 0 36px 0;
}

.subtitle {
  display: inline-block;

  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2.5px;
  text-transform: uppercase;

  color: #4B4B4B;
}

.subtitle::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  padding: 0 0 0 16px;

  background: url(../img/who-we-are/Overline\ Mark.svg) 0 0/24px 24px no-repeat;
}

.who-we-are__subtitle {
  margin: 0 0 33px 0;
}

.text {
  margin: 0 0 0 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;

  color: #4B4B4B;
}

.who-we-are__text {
  margin: 0 0 54px 0;
}

.who-we-are__img img {
  margin: 0 0 -120px 0;
}


/* ! --------------promise-------------------- */

.promise {}

.main__promise {
  margin: 0 0 122px 0;
}

.promise__subtitle {
  margin: 0 0 33px 0;
}

.promise__title {
  margin: 0 0 68px 0;
}

.promise__items {
  margin: 0;
  padding: 0;

  font-size: 0;

  list-style: none;
}

.item {
  display: inline-block;
  max-width: 324px;
}

.promise__item {
  margin: 0 24px 0 0;
  font-size: 0;
}

.promise__item:nth-child(3n+3) {
  margin-right: 0;
}

.item__icon {
  padding: 0 23px 0 0;
  display: inline-block;

  vertical-align: top;
}

.item__body {
  display: inline-block;
  max-width: 235px;
}

.item__title {
  margin: 0 0 20px 0;

  font-weight: 900;
  font-size: 19px;
  line-height: 26px;

  color: #02133C;
}

/* ! --------------video-block----------------- */

.video-block {
  padding: 112px 0 120px 0;

  background: url(../img/video-block/BG\ Image.jpg) 0 0/cover no-repeat;
}

.video-block__title {
  max-width: 411px;
  margin: 0 0 30px auto;

  font-weight: 900;
  font-size: 36px;
  line-height: 42px;

  color: #FFFFFF;
}

.link {
  text-decoration: none;
}

.video-block__link {
  position: relative;

  display: block;
  width: 87px;
  height: 87px;
  margin: 0 300px 0 auto;

  background: #ffffff url(../img/video-block/play_arrow_24px.svg) 60% center no-repeat;
  border-radius: 50%;
}

.video-block__link:hover::before {
  position: absolute;
  top: -12px;
  left: -12px;

  content: "";
  display: block;
  width: 112px;
  height: 112px;
  
  background: rgba(255,255,255,0.2);
  border-radius: 50%;
}

.video-block__link:hover::after {
  position: absolute;
  top: -26px;
  left: -26px;

  content: "";
  display: block;
  width: 140px;
  height: 140px;

  background: rgba(255,255,255,0.1);
  border-radius: 50%;
}


/* ! --------------services----------------- */

.sevices {
  padding: 110px 0 122px 0;

  background: url(../img/services/Gears.png) right bottom no-repeat, url(../img/services/Gearstop.png) left top no-repeat;
}

.main__services {}

.sevices__subtitle {
  margin: 0 0 33px 0;
}

.sevices__title {
  margin: 0 0 78px 0;
}

.services__offers {
  padding: 0;
  margin: 0 0 66px 0;

  font-size: 0;

  list-style: none;
}

.card {
  display: inline-block;
  max-width: 324px;
  padding: 50px 43px;

  text-align: center;

  background: #ffffff;
}

.card:hover {
  filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
}

.services__card {
  margin-bottom: 24px;
}

.services__card:not(:nth-of-type(3n+3)) {
  margin: 0 24px 0 0;
}

.card__icon {
  margin: 0 0 33px 0;
}

.card__title {
  margin: 0 0 20px 0;

  font-weight: 900;
  font-size: 19px;
  line-height: 26px;

  color: #02133C;
}

.text {}

.services__row {
  text-align: center;
}


/* ! --------------customer----------------- */

.customer {}

.main__customer {
  margin: 0 0 210px 0;
}

.customer__subtitle {
  display: block;
  margin: 0 0 33px 0;
}

.customer__title {
  display: inline-block;
  margin: 0 0 0 0;
  max-width: 324px;

  vertical-align: top;
}

.customer__cards {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin: -43px 0 0 0;

  font-size: 0;

  list-style: none;
}

.customer__card {
  padding: 50px 43px;
  display: inline-block;
  max-width: 324px;
  background: #ffffff;
}

.customer__card:first-child {
  margin: 0 24px 0 0;
}

.customer__text {
  margin: 0 0 18px 0;
}

.customer__icon {
  margin: 0 17px 0 0;
}

.customer__nic-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 48px;
  letter-spacing: 0.15px;
  vertical-align: top;
  color: #02133C;
}


/* ! --------------impact----------------- */

.impact {
  padding: 112px 0 0 0;
  background: #02133C url(../img/impact/overlay\ image.png) center center no-repeat;
  border: 1px solid transparent;
}

.main__impact {
  position: relative;
  margin: 0 0 100px 0;
}

.impact__wrap {
  display: inline-block;
  margin: 0 100px 0 0;
}

.impact__subtitle {
  margin: 0 0 32px 0;
}

.impact__subtitle::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  padding: 0 0 0 16px;
  
  background: url(../img/impact/Overline\ Mark.svg) 0 0/24px 24px no-repeat;
}

.subtitle--color-white {
  color: #ffffff;
}

.impact__title {
  max-width: 411px;
  margin: 0 111px 76px 0;
}

.title--color-white {
  color: #ffffff;
}

.impact__img {
  display: inline-block;
}

.impact__img img {
  position: absolute;
  top: -80px;

  display: block;
}

.impact__row {
  margin: 0;
  padding: 0;
  margin: 0 0 59px 0;
  font-size: 0;
  list-style: none;
}

.impact__item {
  display: inline-block;
  max-width: 237px;
  margin: 0 24px 0 0;
  font-size: 0;
}

.impact__item:nth-child(4n+4) {
  margin-right: 0;
}

.impact__icon {
  display: inline-block;
  vertical-align: top;
  margin: 0 11px 0 0;
}

.impact__body {
  display: inline-block;
  width: 149px;
  font-size: 0;
  /* vertical-align: bottom; */
}

.impact__head {
  margin: 0 0 3px 0;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #C40B0B;
}

.text {}

.text--color-white {
  color: #f5f5f5;
}

.impact__declaration {
  display: inline-flex;
  justify-content: space-between;
  margin: 0 0 -75px 0;
  padding: 45px 75px;
  background: #ffffff;
}

.impact__text {
  display: inline-block;
  max-width: 562px;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  color: #02133C;
}

.btn {}

.impact__btn {
  vertical-align: top;
}